body {
  font-family: 'Montserrat', sans-serif;
}

.container div {
  width: 100%;
  justify-content: center;
  border-color: black;
}

.logo img {
  width: 80%;
  height: 100%;
  object-fit: contain;
}

.login_child {
  width: 100%;
  margin: 0 70px;
}

.login input {
  height: 10px;
  width: 100%;
  background-color: #EFEFF4;
  border-style: ridge;
  border-color: #576A3D;
  border-width: thin;
  font-size: 16px;
  outline: none;
}

.login button {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  line-height: 28px;
  width: 45%;
  background-color: #8DB33A;
  color: white;
  border: none;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 28px;
  border-radius: 0px;
}

.login p {
  color: #576A3D;
  cursor: pointer;
}

.texto_correo {
  text-align: left;
}

.todo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.container {
  display: flex;
  flex-direction: row;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
}