.modal_recuperar2 {
    font-family: 'Montserrat', sans-serif;
    color: #576A3D;
}   

:where(.css-dev-only-do-not-override-1e3x2xa).ant-modal .ant-modal-title {
    margin: 0;
    color: rgba(87, 106, 61, 1);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}

.div {
    margin-bottom: 20px;
    margin-top: 20px;
    align-content: center;
    text-align: center;
}

.boton_enviar {
    align-content: center;
    text-align: center;
    line-height: 28px;
    width: 30%;
    background-color: #8DB33A;
    color: white;
    border: none;
    justify-content: center;
    margin: auto;
    display: grid;
    margin-top: 28px;
    margin-bottom: 20px;
}

.input {
    line-height: 30px;
    width: 70%;
    background-color: #EFEFF4;
    border-style: ridge;
    border-color: #576A3D;
    border-width: thin;
    font-size: 16px;
    outline: none;
    margin: auto;
    display: grid;
}

.text {
    justify-content: center;
    color: #576A3D;
}