.background {
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    opacity: 0.25;
    backdrop-filter: blur(4px);
    background-color: gray;
}

.container {
    width: 50%;
    inset: 45%;
}

.modal {
    background-color: white;
    padding: 8px;
    opacity: 1;
    border-radius: 0.25rem;
}