body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    top: 45%;
    left: 30%;
    width: 60em;
    height: 20em;
    margin-top: -9em;
    margin-left: -15em;
    position: fixed;
}

.container div {
    width: 100%;
}

.logo {
    text-align: center;
    margin: auto;
}

.logo img {
    width: 100%;
    height: 100%;
    display: block;
}

.login {
    display: flex;
    width: 25%;
}

.login_child {
    width: 50%;
    height: 50%;
    margin-left: 70px;
    margin-right: 70px;
}

.login input {
    line-height: 35px;
    width: 100%;
    background-color: #EFEFF4;
    border-style: ridge;
    border-color: #576A3D;
    border-width: thin;
    font-size: 16px;
    outline: none;
}

.login button {
    align-content: center;
    text-align: center;
    line-height: 28px;
    width: 50%;
    background-color: #8DB33A;
    color: white;
    border: none;
    justify-content: center;
    margin: auto;
    display: grid;
    margin-top: 28px;
}

.login p {
    color: #576A3D;
}

.p_recuperar {
    margin-top: 20px;
    cursor: pointer;
}

.p_propuesta {
    cursor: pointer;
}

.texto_correo {
    text-align: left;
}

.texto_cont {
    text-align: left;
    margin-top: 15px;
}

.footer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}

.footer div {
    width: 100%;
}

.footer footer {
    background-color: #EC8A01;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 13px;
}

.footer p {
    margin: 0;
    color: white;
}

.copyright {
    text-align: left;
}

.copyright p {
    line-height: 2.5;
}

.facultad {
    display: inline-flex;
    text-align: right;
    justify-content: flex-end;
    padding-right: 20px;
}

.facultad p {
    padding-right: 10px;
    line-height: 2.5;
}

.facultad img {
    height: 35px;
}